<h2>Book detail</h2>
<table class="table">
  <tbody>
    <tr>
      <td>image<br>name</td>
      <td><%= @book.title %></td>
      <td><%= @book.opinion %></td>
      <td>Edit</td>
      <td>Destroy</td>
    </tr>
  </tbody>
</table>